@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    }
.project{
    display: flex;
    justify-content: space-between;
    
    
}


.left_side_menu{
    background-color:rgb(49, 140, 214);
    
    width: 25vw;
    display: grid;
    color: #ffffff;
    grid-template-rows: 1.7fr 12fr 7fr;
    gap: 8vh;
    padding-bottom: 50vh;
    max-height: 150vh;
    
}


.left_side_menu>*{
    text-align:start;
    font-size:1.2rem;
    margin-left: 3vw;
}
.left_side_menu>*:hover{
    cursor: pointer;
}

.right_side_stuff{
    width: 100%;
}
.header{
    background-color: rgb(255, 255, 255);
    
    border-bottom: 2px solid rgb(210, 206, 206);
}

.navigation_links{
   
    display: grid;
    
    row-gap: 4vh;
}
.upper_header{
    display: grid;
    grid-template-columns:70% 20%;
    gap: 6%;
    height: 7vh;
    grid-auto-flow: column;
    margin-top: 2vh;
    
    background-color: rgb(255, 255, 255);
    margin-left: 2vw;
}
.upper_header_right_side{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 30% 60%;

}
.searchbar{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5% 25% 70%;

}
.bell_icon{
    height: 20px;
    width: 20px;
    display: inline-block;
    justify-self: center;
}
.search_bar_actual{
    width: 38vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    background-color: rgb(222, 227, 227);
}
.searchButt{
    background-color: white;
    border: none;
    padding: 0;
    margin-top: 20%;
    background-color: rgb(255, 255, 255);
    justify-self: right;
}
.search_icon{
    height: 20px;
    width: 20px;
    

}

.lower_header{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-auto-flow: column;
    background-color: rgb(255, 255, 255);
    margin-left: 2vw;
}
.lower_header_left{
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-auto-flow: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.profilePic{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-left: 1.1vw;
    justify-self: center;
    



}

.lower{
    font-size: 1.2rem;
    font-weight: 500;
}
.profile_pic_bigger{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    margin-left:1vh;
    margin-top: 1vh;
    border: 1px solid rgb(203, 200, 200);

}
.lower_header_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;


    
}

.feature_button{
    justify-content: center;
    align-self:last baseline;
    margin-bottom: 4vh;
}
    
.butt1{
    background-color: rgb(44, 129, 198);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 5% 15% 5% 15%;
    
}
.butt1:hover{
    background-color:rgb(95, 161, 215) ;
    cursor:pointer;
}

.logoimg{
    width: 6vh;
    height: 6vh;
    display: flex;
}
.logo{
    margin-right: 1vw;


}
.nav_link{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-auto-flow: column;
}
.logo_and_name{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-auto-flow: column;
    margin-top: 2vh;
    font-size: 1.6rem;
    margin-bottom: 0;

}
.leftLogo{
    height: 3vh;
    width: 3vh;
    margin-right: 1vh;
}
.navigation_links{
    display: grid;
    row-gap: 1vh;
    margin-top: 0;

}
.navigation_links_help{
    display: grid;
    margin-top: 3vh;

}
.main_content{
   
    min-height: 150vh;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3.5fr;
    grid-auto-flow: column;
    padding-bottom: 0;
    

}
.main_content>*{
    height: 100%;
}
.main_content>*>*{
    height: 100%;
    width: 100%;
}

.mc_right_side{
    background-color: rgb(242, 243, 243);
    
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.content_inside_mc_left_side{
   
}
.your_projects_text{
    background-color: rgb(255, 255, 255);
    justify-content: start;
    padding-bottom: 0;
    padding-top: 5vh;
    
    
    
    
    
}
.text{
    margin-bottom: 0;
  
    margin-left: 2vw;
    align-content: end;
    
}
.content_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    
    
    gap: 2vh;
    justify-content: space-evenly;

}


.lower_text{
    display: block;
    overflow: auto;

}

.mc_rs_lower_content_trending_text{
    font-size: 1.3rem;
}

.mc_rs_lower_content{
    justify-self:  center;
    
    
    width: 90%;
    display: grid;
    margin-top: 0;
    grid-template-rows: 0.01fr 0.5fr ;
   
    padding-bottom: 0;
    

}
.actual_content_of_content_box{
    word-wrap: break-word;
}

.mc_rs_upper_content{
    display: grid;
    grid-template-rows: 0.1fr 0.5fr;
    margin-top: 8vh;
    width: 90%;
    justify-self: center;
    padding: 4vh 3vh 4vh 3vh;
}
.announcement_text{
    font-size: 1.2rem;
    margin-bottom: 2vh;
}
.stuffBox{

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 3vh 2vh 3vh 2vh;
    margin-bottom: 0;
    background-color: rgb(23, 29, 7);
    border-radius: 10px;
}

.testing1{
    background-color: rgb(211, 225, 49);
}
.testing2{
    background-color: rgb(254, 189, 92);
}
.testing3{
    background-color: rgb(169, 235, 235);
}
.mc_rs_lowerC_stuffBox{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    
    height: 140%;
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
    padding-top: 6vh;
    padding-bottom: 4vh;
    gap: 2vh;

}
.stuff_inside_mc_rs_lc_sb{
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-auto-flow: column;
    gap: 2vh;
    height: 4vh;
    

}

.stuff_inside_mc_rs_lc_sb:hover{
    cursor: pointer;
    
}
.mc_rs_lower_content_trending_text{
    margin-top: 2vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo_br{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}
.atTheRate{
    display: block;
    margin-top: 1vh;
}

.text_df{
    display: grid;
    row-gap: 0;
    font-size: 0.99rem;
}
.text_below{
    margin-bottom: 1vh;
}
.stuffBox{
    background-color: rgb(105, 239, 239);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
   
   
}
.text_in_stuffBox{
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.upper_text_inside{
    margin-bottom: vh;
}

.content_box{
    background-color: rgb(144, 200, 248);
    border: 1px dotted rgb(139, 198, 139);
    border-radius: 20px;
    overflow: hidden;
    
    grid-template-columns: 0.1fr 6fr;
    grid-auto-flow: column;
    



}

.side_color{
    background-color: yellow;
  
    height:10vh;
}
.actual_content_of_content_box{
    background-color: yellowgreen;
}
.text_in_stuffBox{
    align-self:center;
    word-wrap: break-word;
    margin-left: 2vw;
    

    
}
.stuff_inside_stuffBox{
    padding-top: 4vh;
}
.upper_text_inside{
    
    
}